h1, .h1 {
  font-size: 2.5rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

h2, .h2 {
  font-size: 2rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

h3, .h3 {
  font-size: 1.75rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

h4, .h4 {
  font-size: 1.5rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

h5, .h5 {
  font-size: 1.25rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

h6, .h6 {
  font-size: 1rem;
  margin-bottom: $rhythm;
  line-height: normal;
}

p, .p {
  font-size: 1.25rem;
  margin-bottom: $rhythm;
  line-height: $rhythm;
}
