* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

h1, .h1 {
  font-size: 2.5rem;
  margin-bottom: 24px;
  line-height: normal; }

h2, .h2 {
  font-size: 2rem;
  margin-bottom: 24px;
  line-height: normal; }

h3, .h3 {
  font-size: 1.75rem;
  margin-bottom: 24px;
  line-height: normal; }

h4, .h4 {
  font-size: 1.5rem;
  margin-bottom: 24px;
  line-height: normal; }

h5, .h5 {
  font-size: 1.25rem;
  margin-bottom: 24px;
  line-height: normal; }

h6, .h6 {
  font-size: 1rem;
  margin-bottom: 24px;
  line-height: normal; }

p, .p {
  font-size: 1.25rem;
  margin-bottom: 24px;
  line-height: 24px; }

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px; }

.section-title {
  background-color: #eee;
  padding-top: 24px;
  padding-bottom: 0.1px;
  margin-bottom: 24px; }

section {
  padding-bottom: 24px; }

#header {
  background-color: #eee;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 24px; }

#footer {
  background-color: #eee;
  padding-top: 24px;
  padding-bottom: 24px; }

.row {
  position: relative;
  position: relative;
  margin-left: -24px;
  margin-right: -24px; }
  .row:after {
    content: "";
    display: table;
    clear: both; }

.col-1 {
  display: inline;
  float: left;
  width: 8.33333%;
  padding-left: 24px;
  padding-right: 24px; }

.col-2 {
  display: inline;
  float: left;
  width: 16.66667%;
  padding-left: 24px;
  padding-right: 24px; }

.col-3 {
  display: inline;
  float: left;
  width: 25%;
  padding-left: 24px;
  padding-right: 24px; }

.col-4 {
  display: inline;
  float: left;
  width: 33.33333%;
  padding-left: 24px;
  padding-right: 24px; }

.col-5 {
  display: inline;
  float: left;
  width: 41.66667%;
  padding-left: 24px;
  padding-right: 24px; }

.col-6 {
  display: inline;
  float: left;
  width: 50%;
  padding-left: 24px;
  padding-right: 24px; }

.col-7 {
  display: inline;
  float: left;
  width: 58.33333%;
  padding-left: 24px;
  padding-right: 24px; }

.col-8 {
  display: inline;
  float: left;
  width: 66.66667%;
  padding-left: 24px;
  padding-right: 24px; }

.col-9 {
  display: inline;
  float: left;
  width: 75%;
  padding-left: 24px;
  padding-right: 24px; }

.col-10 {
  display: inline;
  float: left;
  width: 83.33333%;
  padding-left: 24px;
  padding-right: 24px; }

.col-11 {
  display: inline;
  float: left;
  width: 91.66667%;
  padding-left: 24px;
  padding-right: 24px; }

.col-12 {
  display: inline;
  float: left;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px; }
